<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Scrumptious" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://node.upopple.com" />
    <meta property="og:site_name" content="Scrumptious" />
    <meta property="og:description" content="Scrumptious app" />
    <meta property="fb:app_id" content="205725562885160" />

    <title>Friends 3D</title>

    <link type="stylesheet" src="css/style.css" />

</head>
<body>


	<div id="stage">

	</div>
	
    <script data-main="js/main" src="js/lib/require.js"></script>

</body>
</html>